<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" href="css/siteTurbine.css" />
  <title>Site Information</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="myMenu">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="clientComments.html">Client</a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Container -->
  <div class="container">
    <!-- Table -->
    <div class="tabular-data module">
      <!-- Table Head -->
      <div class="data-group data-header hidden-sm hidden-xs">
        <div class="row">
          <div class="col-lg-2 col-md-2"><strong class="uppercase">Client Name</strong></div>
          <div class="col-lg-3 col-md-3"><strong class="uppercase">Client Description</strong></div>
          <div class="col-lg-1 col-md-1"><strong class="uppercase">Sector</strong></div>
          <div class="col-lg-1 col-md-1"><strong class="uppercase">Sub Industry</strong></div>
          <div class="col-lg-2 col-md-2"><strong class="uppercase">Headquarters</strong></div>
        </div>
      </div>
      <!-- Table Head -->
      <!-- Table Body -->
      <div id="clientPage">
        <div id="clientTableBody" v-for="cl in clientList">
          <!-- Table Row -->
          <div class="data-group">
            <div class="row">
              <div class="data-expands">
                <div class="col-lg-2 col-md-2"><span class="title">{{cl.clientName}}</span></div>
                <div class="col-lg-3 col-md-3">{{cl.clientDescription}}</div>
                <div class="col-lg-1 col-md-1">{{cl.gicsSector}}</div>
                <div class="col-lg-1 col-md-1">{{cl.gicsSubIndustry}}</div>
                <div class="col-lg-1 col-md-1">{{cl.headquarters}}</div>
                <div class="col-lg-2 col-md-2">
                  <div class="uppercase" @click="gotoSite(cl.clientId)"><strong><i class="fa fa-wrench"></i> View Sites</strong></div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="uppercase" @click="fetchCommentsByClientId($event, cl.clientId)" :data-client-id="cl.clientId"><strong><i class="fa fa-wrench"></i> View Comments</strong><span class="row-toggle"><span class="horizontal"></span><span
                        class="vertical"></span></span></div>
                </div>
              </div>
              <!-- Client specific Comments -->
              <div class="expandable">
                <div class="row" v-for="com in commentList">
                  <div class="col-lg-8 col-lg-offset-1 col-md-7 col-md-offset-1">
                    <p>{{com.commentSection}}</p>
                  </div>
                </div>
                <div class="col-lg-8 col-lg-offset-1 col-md-7 col-md-offset-1">
                  <p>Enter Comment:  <input id="commentSection" type="textbox"></p>  <div class="col-xs-2 text-right" @click="insertNewComment(cl.clientId)"><a href="#" class="btn btn-green btn-sm"><i class="fa fa-plus"></i>Add</a></div>
                </div>
              </div>
              <!-- Client specific Comments -->
            </div>
          </div>
          <!-- Table Row -->
        </div>
      </div>
      <!-- Table Body -->
    </div>
    <!-- Table -->
  </div>
  <!-- Container -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="js/client.js"></script>
  <!-- <script src="js/siteTurbine.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- moment.js via CDN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <!-- development version, includes helpful console warnings -->
</body>
<footer>
</footer>

</html>
