<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link rel="stylesheet" href="css/siteTurbine.css" />
      <title>Site Information</title>
   </head>
   <body>
      <!-- Container -->
      <div class="container">
         <!-- Table -->
         <div class="tabular-data module">
            <!-- Table Head -->
            <div class="data-group data-header hidden-sm hidden-xs">
               <div class="row">
                  <div class="col-lg-1 col-md-1"><strong class="uppercase">Site ID</strong></div>
                  <div class="col-lg-1 col-md-1"><strong class="uppercase">Site Name</strong></div>
                  <div class="col-lg-3 col-md-3"><strong class="uppercase">Site Description</strong></div>
                  <div class="col-lg-1 col-md-1"><strong class="uppercase">Primary Contact</strong></div>
                  <div class="col-lg-1 col-md-1"><strong class="uppercase">Capacity</strong></div>
                  <div class="col-lg-1 col-md-1"><strong class="uppercase">Commercial Date</strong></div>
                  <div class="col-lg-2 col-md-2"><strong class="uppercase">Address</strong></div>
               </div>
            </div>
            <!-- Table Head -->
            <!-- Table Body -->
            <div id="sitePage">
               <div id= "siteTableBody" >
                  <!-- Table Row -->
                  <div class="data-group">
                     <div class="row">
                        <div class="data-expands" v-for="s in siteList">
                           <div class="col-lg-1 col-md-1" id="siteId">{{s.siteId}}</div>
                           <div class="col-lg-1 col-md-1"><span class="title">{{s.siteName}}</span></div>
                           <div class="col-lg-3 col-md-3">{{s.siteDescription}}</div>
                           <div class="col-lg-1 col-md-1">{{s.primaryContact}}</div>
                           <div class="col-lg-1 col-md-1">{{s.capacity}}</div>
                           <div class="col-lg-1 col-md-1">{{s.commercialDate}}</div>
                           <div class="col-lg-2 col-md-2">{{s.addrLine1}} , {{s.addrCity}} , {{s.addrState}} , {{s.addrZip}} , {{s.addrCountry}}</div>
                           <div class="col-lg-1 col-md-1">
                              <div class="uppercase"><strong><i class="fa fa-wrench"></i> View Turbines</strong><span class="row-toggle" @click="loadTurbine(s.siteId);"><span class="horizontal"></span><span class="vertical"></span></span></div>
                           </div>
                        </div>
                        <!-- Site specific Turbine Info -->
                        <div class="expandable" v-for="t in turbineList">
                           <div class="row">
                              <div class="col-lg-6 col-md-6">
                                 <div class="col-xs-6">Turbine Deployed Id :</div>
                                 <div class="col-xs-6 text-right">{{t.turbineDeployedId}}</div>
                                 <br/>
                                 <div class="col-xs-6">Turbine Id :</div>
                                 <div class="col-xs-6 text-right">{{t.turbineId}}</div>
                                 <br/>
                                 <div class="col-xs-6">Serial Number :</div>
                                 <div class="col-xs-6 text-right">{{t.serialNumber}}</div>
                                 <br/>
                                 <div class="col-xs-6">Deployed Date :</div>
                                 <div class="col-xs-6 text-right">{{t.deployedDate}}</div>
                                 <br/>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="col-xs-6">Total Fired Hours :</div>
                                 <div class="col-xs-6 text-right">{{t.totalFiredHours}}</div>
                                 <br/>
                                 <div class="col-xs-6">Total Starts :</div>
                                 <div class="col-xs-6 text-right">{{t.totalStarts}}</div>
                                 <br/>
                                 <div class="col-xs-6">Last Planned Outage Date :</div>
                                 <div class="col-xs-6 text-right">{{t.lastPlannedOutageDate}}</div>
                                 <br/>
                                 <div class="col-xs-6">Last Unlanned Outage Date :</div>
                                 <div class="col-xs-6 text-right">{{t.lastUnplannedOutageDate}}</div>
                                 <div class="col-xs-6"><a href="#" class="btn btn-black"><i class="fa fa-phone"></i> Contact</a></div>
                                 <div class="col-xs-6 text-right"><a href="#" class="btn btn-green"><i class="fa fa-check-circle-o"></i> Approve</a></div>
                              </div>
                           </div>
                        </div>
                        <!-- Site specific Turbine Info -->
                     </div>
                  </div>
                  <!-- Table Row -->
               </div>
            </div>
            <!-- Table Body -->
         </div>
         <!-- Table -->
      </div>
      <!-- Container -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
      <script src="js/site.js"></script>
      <script src="js/siteTurbine.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- moment.js via CDN-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <!-- development version, includes helpful console warnings -->
   </body>
   <footer>
   </footer>
</html>
